[Unit]
Description="Clipboard Manager for Wayland"
After=graphical-session.target

[Service]
Type=exec
ExecStart=kapd
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target
